.custom-dialog-container {
    /* z-index: 9999; */
    /* Adjust the z-index value as needed to ensure the dialog appears on top */
}

.custom-tooltip {
    background-color: #f1f1f1;
    color: #333;
    padding: 10px;
    border-radius: 4px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.loading-text {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}