* {
    outline: none !important;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn-transparent {
    background-color: transparent;
    border: none;
}

.base,
.to-right,
.justify-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.to-right {
    justify-content: flex-end;
}

.justify-content {
    justify-content: space-between;
}

.line {
    border-bottom: 1px solid #eaeaea;
}

.logo {
    cursor: pointer;
}

.btn-regular {
    background-color: #2196f3;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.btn-regular .fa {
    margin-left: 3px;
    transform: translateX(0);
    transition: 0.3s;
}

.btn-regular:hover {
    background-color: #1f88dc;
}

.btn-regular:hover .fa {
    transform: translateX(3px);
}