<header class="fixed" style="background-color: azure">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="logo">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTiG_bPHT8CoGTBBJSpugaBOL9x0Mz3HUxRw&usqp=CAU"
            alt=""
            style="margin-left: -100px; height: 100px; width: 200px"
          />
        </div>
      </div>
    </div>
  </div>
  <h1 class="header">
    Your personal guide to movie paradise: browse, discover, and indulge!
  </h1>
  <div></div>
  <div style="height: 500px; width: 1000px; margin: auto; margin-top: 50px">
    <mdb-carousel [isControls]="true" [animation]="'fade'">
      <mdb-carousel-item>
        <img
          src="https://i.ibb.co/LpSDPKb/aveng.jpg"
          class="d-block w-100"
          alt="..."
          style="width: 1320px; height: 500px"
        />
        <div class="carousel-caption d-none d-md-block"></div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="../../assets/images/movie-covers/ava.jpg"
          class="d-block w-100"
          alt="..."
          style="width: 1320px; height: 500px"
        />

        <div class="carousel-caption d-none d-md-block"></div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="../../assets/images/movie-covers/inceptionCover.jpeg"
          class="d-block w-100"
          alt="..."
          style="width: 1320px; height: 500px"
        />

        <div class="carousel-caption d-none d-md-block"></div>
      </mdb-carousel-item>
    </mdb-carousel>
    <button [routerLink]="['/movie']" class="btn">Explore Movies</button>
    <div class="team">Developed by Team Tech Titans</div>
  </div>
</header>
