<!-- <p>movie-details-component works!</p> -->

<div class="loading-container" *ngIf="isLoading">
  <img src="../../assets/images/loading.gif" alt="GIF Image" />
  <h2 class="loading-text">Loading...</h2>
</div>
<main *ngIf="!isLoading">
  <div *ngIf="pageIsReady" class="container details-container">
    <div class="row">
      <div class="col-12">
        <h1 class="title" style="text-align: center">{{ movie.title }}</h1>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <img
              class="details-poster"
              [src]="getImageUrl(movie.title)"
              alt="image"
            />
          </div>
          <div class="col-sm-6 col-md-8">
            <div class="details-info">
              <ul>
                <li class="listyle">
                  <strong class="strongstyle">Rating :</strong>
                  <a class="textstyle">{{ movie.popularity }}</a>
                </li>
                <li class="listyle">
                  <strong class="strongstyle">Cast :</strong>
                  <a class="textstyle">{{ movie.cast }}</a>
                </li>
                <li class="listyle">
                  <strong class="strongstyle">Director :</strong
                  ><a class="textstyle">{{ movie.director }}</a>
                </li>
                <li class="listyle">
                  <strong class="strongstyle">Production Companies :</strong
                  ><a class="textstyle">{{ movie.production_companies }}</a>
                </li>
                <li class="listyle">
                  <strong class="strongstyle">Release Year :</strong
                  ><a class="textstyle">{{ movie.release_year }}</a>
                </li>
                <li class="listyle">
                  <strong class="strongstyle">Budget :</strong>
                  <a class="textstyle">$ {{ movie.budget }}</a>
                </li>
                <li class="listyle">
                  <strong class="strongstyle">Revenue :</strong
                  ><a class="textstyle">$ {{ movie.revenue }}</a>
                </li>
                <li class="listyle">
                  <strong class="strongstyle">MoreDetails :</strong>
                  <a href="{{ movie.homepage }}">{{ movie.homepage }}</a>
                </li>
              </ul>
            </div>
            <div class="details-content">
              <p style="font-size: 16px; margin-left: 15px">
                {{ movie.short_summary }}
              </p>
            </div>

            <div class="details-genres">
              <span
                *ngFor="let genre of movie.genres"
                class="genre"
                style="font-size: large"
              >
                {{ genre }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div routerLink="/movie" class="btn btn-regular">
          Back to list
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</main>
