<div mat-dialog-content>
  <h1>Filter</h1>
  <!-- <p>Popularity: {{ movie.popularity }}</p>
  <p>Budget: {{ movie.budget }}</p>
  <p>Revenue: {{ movie.revenue }}</p>
  <p>Cast: {{ movie.cast }}</p>
  <p>
    Homepage: <a [href]="movie.homepage">{{ movie.homepage }}</a>
  </p>
  <p>Director: {{ movie.director }}</p>
  <p>Summary: {{ movie.short_summary }}</p>
  <p>Genres: {{ movie.genres }}</p>
  <p>Production Companies: {{ movie.production_companies }}</p>
  <p>Release Year: {{ movie.release_year }}</p> -->

  <form (ngSubmit)="applyFilter()" #filterForm="ngForm">
   
    <div class="col-12" style="width: 1400px">
      <div>Select Genre</div>
      <div>
        <mat-form-field style="width: 1200px">
          <mat-label>Genre</mat-label>
          <mat-select
            [(ngModel)]="selectedGeneres"
            multiple
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-option *ngFor="let option of generes" [value]="option">{{
              option
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>Select Cast</div>
      <div>
        <mat-form-field style="width: 1200px">
          <mat-label>Cast</mat-label>
          <mat-select
            [(ngModel)]="selectedCast"
            multiple
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-option *ngFor="let option of cast" [value]="option">{{
              option
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>Select Crew</div>
      <div>
        <mat-form-field style="width: 1200px">
          <mat-label>Crew</mat-label>
          <mat-select
            [(ngModel)]="selectedDirectors"
            multiple
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-option *ngFor="let option of directors" [value]="option">{{
              option
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
            <div>Release Year</div>
      <div>
        <mat-form-field style="width: 1200px">
          <mat-label>Year</mat-label>
          <mat-select
            [(ngModel)]="selectedYears"
            multiple
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-option *ngFor="let option of years" [value]="option">{{
              option
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div style="text-align-last: end">
      <button
        type="reset"
        class="btn btn-transparent"
        (click)="dialogRef.close(false)"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-primary" (click)="applyFilter()">
        Apply Filter
      </button>
    </div>
  </form>
</div>
